/* Body */

body {
    background-color: rgba(0, 0, 0, 0.979);
    position: fixed;
}

/* Intro  */

p {
    color: #ffdf01;
}

#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 76%;
    text-align: center;
    position: absolute;
    font-weight: bold;
    overflow: hidden;
    font-size: 240%;
    height: 1178px;
    width: 144%;
    display: block;
    bottom: 0;
    left: 50%;
    background-color: black;
    margin: -414px -49px 253px -1135px;
    z-index: 99;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}


#content {
    animation: scroll 100s linear 1s;
    position: absolute;
    top: 100%;
}

#title,
#subtitle {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}

/* Counters */

#miss {

    background-color: black;
    z-index: 501;
    width: 171px;
    height: 25px;
    float: right;
    margin-top: 28px;
    margin-left: 47px;
}

#catch {
    background-color: black;
    z-index: 500;
    width: 135px;
    height: 25px;
    float: right;
    margin-top: 28px;
}

/* Lightsword cursor  */

* {
    cursor: url(http://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;
}


/* Background Sound */

#bsound {
    display: none;
}

/* Page Logo */

#page_logo {
    margin: center;
    margin: 4px 0px -124px 331px;
}

/* Backgraund Image */

#backround_image {
    background-repeat: no-repeat;
    margin: 0px 0 144px 0px;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=66943);
    width: 69%;
}

/* Millenium Falcon */

#falcon {
    animation-timing-function: linear;
    position: relative;
    -webkit-animation: mymove 6s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 15s infinite;
    margin-top: 143px;
}

@keyframes mymove {
    from {
        left: -400px;
    }

    to {
        left: 1600px;
    }
}

/* Battle Table */

#tbl {
    border: 3px #ffdf01 solid;
    width: 600px;
    height: 400px;
    margin: -570px 0 0 571px;

}

td {

    border: 3px #ffdf01 solid;
    width: 100px;
    height: 56px;
    color: #ffdf01;
    text-align: center;
    font: bold;

}

/* Images of win & lose */

#win {
    margin-left: 78%;
    padding: -61px;
    width: 67%;
    margin-top: -543px;
    z-index: 1;
    position: absolute;
    display: none;
}

#lose {
    margin-left: 78%;
    padding: -61px;
    width: 67%;
    margin-top: -543px;
    z-index: 2;
    position: absolute;
    display: none;
}

/* New Game Button */

#newgame {

    background-color: black;
    border: 2px #ffdf01 solid;
    text-align: center;
    padding: 3px 116px;
    text-decoration: none;
    font-size: 23px;
    float: right;
    margin: 375px -347px 0 0;
    display: none;
}

/* information */

#info {
    padding: 50px;
    float: right;
}

/* Media */

@media screen and (max-width: 640px) {

    #tbl {
        border: 3px #ffdf01 solid;
        width: 331px;
        height: 112px;
        margin: 78px 0 0 44px;
    }

    #backround_image {
        display: none;
    }

    #page_logo {
        margin: 0 0 0 -112px;
        height: 0px;
    }

    #miss {
        margin: 46px 0px 0 262px;
        float: left;
    }

    #catch {
        margin: -25px 635px 0 0;
    }
}